.periodicTable {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  color: rgba(232, 234, 237, 1);
}

.periodicTable > div {
}

.periodicTableGrid {
  display: grid;
  grid-template-columns: repeat(18, 1fr);
  margin: 50px;
}

.periodicTableGrid > div {
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  height: 80px;
  width: 80px;
}
.gridElement {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 1px solid rgba(232, 234, 237, 0.3);
  border-radius: 5px;
}

.gridElementAtomicNumber {
  width: 80%;
  display: flex;
  flex: 1;
  justify-content: flex-start;
  font-size: small;
  margin: 3px;
}
.gridElementSymbol {
  display: flex;
  flex: 2;
  font-size: large;
  font-weight: bolder;
}
