.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  background-color: #202124;
  color: #e8eaed;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid rgba(232, 234, 237, 0.3);
}

a {
  text-decoration: none;
  color: #e8eaed;
}

.periodicTableContainer{
  display: flex;
  flex-direction: column;
  flex:1;
  justify-content: space-between;
  padding-bottom: 50px;
}