.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: auto;
    width: 100%;
    color: #bdc1c6;
    border-top:1px solid rgba(232, 234, 237, 0.3);
  }
  
  .footerCol {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    height: 100%;
    width: 10%;
  }
  
  
  